{{!
This file is part of Moodle - https://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}

{{!
@template block_event_management/forumsmain
}}
{{#access}}
    <div class="page-wrapper">

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">

            <!-- STATISTIC MENU-->
            {{> block_course_statistics/admin/common/navsection }}
            <!-- END STATISTIC MENU -->

            <!-- Filter Table Form -->
            {{> block_course_statistics/admin/common/formsection }}
            <!-- END Filter Table Form -->

            <!-- DATA TABLE-->
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">{{#str}}measuresfortheforum, block_course_statistics{{/str}}</h3>

                            <!-- Breadcrumb -->
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{bcmbcourses}}">{{#str}}courses, block_course_statistics{{/str}}</a></li>
                                    <li class="breadcrumb-item"><a href="#">{{#str}}forums, block_course_statistics{{/str}}</a></li>
                                </ol>
                            </nav>
                            <!-- END Breadcrumb -->

                            <div class="table-responsive table-responsive-data2">
                                <br>
                                <table class="statistics display table table-data2" cellspacing="0" width="100%">
                                    <thead>

                                    <tr>
                                        <th></th>
                                        <th>{{#str}}course{{/str}}</th>
                                        <th>{{#str}}forum, block_course_statistics{{/str}}</th>
                                        <th>{{#str}}topic{{/str}}</th>
                                        <th>{{#str}}posts, block_course_statistics{{/str}}</th>
                                        <th>{{#str}}postanswers, block_course_statistics{{/str}}</th>
                                        <th>{{#str}}topicinitialized, block_course_statistics{{/str}}</th>
                                        <th>{{#str}}postreads, block_course_statistics{{/str}}</th>
                                    </tr>

                                    </thead>

                                    <tbody>

                                    {{#forumsdata}}

                                        <tr class="tr-shadow">
                                            <td></td>

                                            <td>{{course}}</td>
                                            <td>
                                                <a href="
{{{viewtopic}}}&courseid={{courseid}}&forumid={{forumid}}&topicid={{topicid}}&from={{from}}&to={{to}}&searchperiod={{searchperiod}}">
                                                    {{forums}}</a></td>
                                            <td>{{topics}}</td>
                                            <td>{{posts}}</td>
                                            <td>{{postanswers}}</td>
                                            <td>{{initialized}}</td>
                                            <td>{{postreads}}</td>

                                        </tr>

                                    {{/forumsdata}}

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->

        </div>

    </div>
{{/access}}
{{^access}}

    <div class="container">

        <div class="jumbotron bg-danger">
            <h1>{{#str}}accessdenied, block_course_statistics{{/str}}</h1>
        </div>

    </div>

{{/access}}
<!-- end document-->

{{#js}}

    var tableconfig = {
    order: [
    [4, 'desc']
    ]
    };

    // Get the current language from Moodle's global configuration.
    var lang = '{{current_lang}}';

    // Check if the language is not the English one ('en').
    if (lang !== 'en') {
    // Remove anything after '_' and remove '_' itself if 'el_wp' is found.
    var langToLoad = lang.indexOf('_wp') !== -1 ? lang.substring(0, lang.indexOf('_wp')).replace('_', '') : lang;

    // If the language is any other language, set the language option for DataTable.
    tableconfig.language = {
    url: M.cfg.wwwroot + '/blocks/course_statistics/lang/' + langToLoad + '/' + langToLoad + '.json'
    };
    }

    require(
    ['block_course_statistics/datatables_init-lazy',
    'block_course_statistics/jszip-lazy',
    'block_course_statistics/pause_measure-lazy'
    ], function(dataTableModule, Jszip, Main) {
    dataTableModule.initializeDataTable(tableconfig);
    window.JSZip = Jszip;
    Main.pausemeasure();
    });

{{/js}}