<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--green">

                    <h3 ><a href="{{urlcourse}}">{{#str}}generalmeasures, block_course_statistics{{/str}}</a></h3>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--orange">
                    <h3 ><a href="{{urlactivity}}">{{#str}}measurespertool, block_course_statistics{{/str}}</a></h3>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--purple">
                    <h3 ><a href="{{urlforum}}">{{#str}}measuresfortheforum, block_course_statistics{{/str}}</a></h3>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--brown">
                    <h3 ><a href="{{urlrquiz}}">{{#str}}measuresinquizzes, block_course_statistics{{/str}}</a></h3>

                </div>
            </div>
        </div>
    </div>
</section>