<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--green">

                    <h3 ><a href="{{urlcourse}}">General measures</a></h3>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--orange">
                    <h3 ><a href="{{urlactivity}}">Measures per tool</a></h3>

                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--purple">
                    <h3 ><a href="{{urlforum}}">Measures for the forum</a></h3>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--brown">
                    <h3 ><a href="{{urlrquiz}}">Measures in Quizzes</a></h3>

                </div>
            </div>
        </div>
    </div>
</section>