{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

@package    block_course_statistics
@copyright  2023 onwards WIDE Services {@link https://www.wideservices.gr}
@license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

template block_course_statistics/generalmeasures/main
@description This template renders the main view for displaying general course measures.
It expects the following context data:
- access: Boolean indicating whether the user has access to view the content.
- coursedata: Array containing course statistics data, with each element including:
  - courseid: The ID of the course.
  - coursetitle: The title of the course.
  - totalsessions: The total number of sessions.
  - avgtimesession: Formatted average time per session.
  - numavgtimesession: Numeric value of the average session time for sorting.
  - totaltime: Formatted total time spent in the course.
  - numtotaltime: Numeric value of the total time for sorting.
  - numberofactions: The number of actions performed in the course.
  - avgnumberofactions: The average number of actions per session.
  - viewusers: URL for viewing user details related to the course.
  - from: The start date for the search period.
  - to: The end date for the search period.
  - searchperiod: The specific period being filtered.
- coursepage: URL to navigate back to the course page.
- current_lang: The current language code used for localization.
- js: Boolean indicating if JavaScript should be included.
}}
{{#access}}
    <div class="page-wrapper">

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">

            <!-- STATISTIC MENU-->
            {{> block_course_statistics/admin/common/navsection }}
            <!-- END STATISTIC MENU -->

            <!-- Filter Table Form -->
            {{> block_course_statistics/admin/common/formsection }}
            <!-- END Filter Table Form -->

            <!-- DATA TABLE-->
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">{{#str}}generalmeasures, block_course_statistics{{/str}}</h3>

                            <!-- Breadcrumb -->
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{coursepage}}">{{#str}}courses, block_course_statistics{{/str}}</a></li>
                                </ol>
                            </nav>
                            <!-- END Breadcrumb -->

                            <div class="table-responsive table-responsive-data2">
                                <br>
                                <table class="statistics display table table-data2" cellspacing="0" width="100%">
                                    <thead>

                                    <tr>
                                        <th></th>

                                        <th>{{#str}}course{{/str}}</th>
                                        <th>{{#str}}sessions, block_course_statistics{{/str}}</th>
                                        <th>{{#str}}avgtimesession, block_course_statistics{{/str}}</th>
                                        <th>{{#str}}totaltimeinsubject, block_course_statistics{{/str}}</th>
                                        <th>{{#str}}numberofactions, block_course_statistics{{/str}}</th>
                                        <th>{{#str}}avgnumberactionsessions, block_course_statistics{{/str}}</th>
                                    </tr>

                                    </thead>

                                    <tbody>

                                    {{#coursedata}}

                                        <tr class="tr-shadow">

                                            <td></td>

                                            <td><a href="{{{viewusers}}}&courseid={{courseid}}&from={{from}}&to={{to}}&searchperiod={{searchperiod}}">{{coursetitle}}</a></td>
                                            <td>{{totalsessions}}</td>
                                            <td data-order="{{numavgtimesession}}"><span class="hidden-span"> {{numavgtimesession}} </span> {{avgtimesession}}</td>
                                            <td data-order="{{numtotaltime}}"><span class="hidden-span"> {{numtotaltime}} </span> {{totaltime}}</td>
                                            <td>{{numberofactions}}</td>
                                            <td>{{avgnumberofactions}}</td>

                                        </tr>

                                    {{/coursedata}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->

        </div>

    </div>
{{/access}}
{{^access}}

    <div class="container">

        <div class="jumbotron bg-danger">
            <h1>{{#str}}accessdenied, block_course_statistics{{/str}}</h1>
        </div>

    </div>

{{/access}}
<!-- end document-->

{{#js}}

    var tableconfig = {
    order: [
    [4, 'desc']
    ]
    };

    // Get the current language from Moodle's global configuration.
    var lang = '{{current_lang}}';

    // Check if the language is not the English one ('en').
    if (lang !== 'en') {
    // Remove anything after '_' and remove '_' itself if 'el_wp' is found.
    var langToLoad = lang.indexOf('_wp') !== -1 ? lang.substring(0, lang.indexOf('_wp')).replace('_', '') : lang;

    // If the language is any other language, set the language option for DataTable.
    tableconfig.language = {
    url: M.cfg.wwwroot + '/blocks/course_statistics/lang/' + langToLoad + '/' + langToLoad + '.json'
    };
    }

    require(
    ['block_course_statistics/datatables_init-lazy',
    'block_course_statistics/jszip-lazy',
    'block_course_statistics/pause_measure-lazy'
    ], function(dataTableModule, Jszip, Main) {
    dataTableModule.initializeDataTable(tableconfig);
    window.JSZip = Jszip;
    Main.pausemeasure();
    });

{{/js}}