/** This file is part of Moodle - http://moodle.org/
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 *
*/

/* results tables */

.results_omades {
    display: flow-root;
    text-align: center;
}

button.results_btn, button.results_clear {
    margin: auto;
    margin-top: 20px;
}

.results_table input[type=radio] {
    display: inline-block;
    margin-left: 2px;
}

.results_table .nodata {
    text-align: center;
}

.datatable_info .params {
    text-align: left;
    /*display: grid;
    margin: auto;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
    justify-items: center;*/
}

.loader {
    text-align: center;
}

.results_table .users, .results_table .cycles, .results_table .categories, .results_table .courses, .results_table .quizes {
    border-style: inset;
    border-top: none;
}

.showquizes {
    background: #0069d9;
    border-color: black;
}

.modal-dialog {
    width: 80%;
    max-width: none;
}

#imagemodal .xbutton {
    display: contents;
    font-size: 30px;
}

#imagemodal .xbutton:hover {
    cursor: pointer;
}

.results_omades select {
    width: 100%;
}

.titlequizparams {
    display: table;
    text-align: center;
    margin: auto;
}

.titlequizparams li {
    list-style-type: circle;
    text-align: left;
}

.titlequizparams li:first-child {
    list-style-type: none;
    margin-bottom: 20px;
    font-weight: 600;
}